services:

  db:
    image: postgres:15
    container_name: cliniq_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cliniq
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cliniq_backend
    env_file: .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/cliniq
      - MLFLOW_TRACKING_URI=http://mlflow:5000 # <-- Add this line
    depends_on:
      - db

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile # Reuses your existing Python image!
    hostname: mlflow
    container_name: cliniq_mlflow
    restart: always
    environment:
      - MLFLOW_TRACKING_INSECURE_TLS=true
    command: mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri postgresql://user:password@db:5432/cliniq --serve-artifacts --allowed-hosts "*"
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: cliniq_frontend
    volumes:
      - .:/app
    ports:
      - "8501:8501"
    depends_on:
      - backend

volumes:
  postgres_data:
